/* body {
    margin: auto;
    width: 50%;
    color: white;
    background: url('dark-background.jpg')
}
.list {
    border: 5px solid #444444;
    width: 15%;
    border-radius: 5px;
    margin: 50px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
p {
    background-color: #444444;
}
 */
